body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculatorBody {
    background-color: peachpuff;
    max-height: 80vh;
    max-width: 50vh;
    margin: 32px;
    border: 8px solid black;
    border-radius: 3px;
    padding: 8px;
}

button {
    height: 100%;
    width: 100%;
}

#displayScreen {
    height: 50px;
    width: auto;
    background-color:gainsboro;
    margin: 8px;
    border: 1px solid black;
}

#headButtonboard {
    display:flex;
    justify-content: center;
}

#functions {
    display:flex;
    gap: 2px;
    flex-wrap: wrap;
    margin: 8px 8px 0px 8px;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(75% - 8px)
}

.functionButton {
    height: 32px;
    width: auto;
    aspect-ratio: 1/1;
    flex: 0 0 calc(25% - 5px);
}

.functionButton button {
    font-weight: 700;
    background-color: rgb(206, 132, 203);
}

#mainButtonboard {
    display: flex;
    justify-content: center;
}

#clear {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    margin: 8px 8px 0px 0px;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(25% - 10px)
}

.clearButton {
    height: 32px;
    width: auto;
    aspect-ratio: 1/1;
    flex: 0 0 calc(90%);
}

.clearButton button {
    font-weight: 700;
    background-color: darkslategrey;
    color: aliceblue;
}

#numpad {
    display:flex;
    gap: 2px;
    flex-wrap: wrap;
    margin: 8px;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(75% - 10px)
}

#operators {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    margin: 8px 8px 8px 0px;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(25% - 10px)
}

.numpadButton {
    height: 32px;
    width: auto;
    aspect-ratio: 1/1;
    flex: 0 0 calc(33% - 5px);
}

.numpadButton button {
    font-weight: 700;
    background-color: azure;
}

.operatorButton {
    height: 32px;
    width: auto;
    aspect-ratio: 1/1;
    flex: 0 0 calc(90%);
}

.operatorButton button {
    font-weight: 700;
    background-color: rgb(127, 187, 189);
    color: red;
}